*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#animation {
    display: none;
    width: 100px;
    height: 100px;
    background-color: red;
    margin-top: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

button:disabled {
    background-color: grey;
    color: white;
}